<h1>Recipe:  <%=@recipe.recipe_name()%></h1>
<p>Source:  <%=@recipe.source()%></p
<p>Servings:  <%=@recipe.servings()%></p>
<p>Comment:  <%=@recipe.comment()%></p>
<br /><br />

<h3>Ingredients</h3>

<% if @ingredients.any?() %>
  <% @ingredients.each() do |ingredient| %>
    <ul>
        <li><a href='/ingredient/<%=ingredient.id()%>'> <%=ingredient.ingredient_name()%></a></li>
    </ul>
  <%end%>
<%else %>
  <p>You have no ingredients!</p>
<%end%>
